body {
    font-family: system-ui;
    background: white;
    color: black;
    text-align: center;
  }
  :root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    position: relative;
    width: 501px;
    height:501px;
    margin: auto;
  }
  
  .grid-item {
    text-align: center;
  }

  .w3-container {

  }

#rules {
    display: none;
    background: linen;
    width: 501px;
    height: 501px;
    margin: auto;
    position: relative;
    border: 3px dashed;
    margin-top: -501px;
    text-align: center;
    border-color: wheat;
    color: black;
}


button{
  display: inline-block;
  position: relative;
  margin: auto;
}

#button-container{
  position:flex;
}

#closebutton{
  position:absolute;
  top: 0px;
  right:0px;
  color: darkred;
}

#inventory {
  display:block;
  position:static;
  margin: auto;
  border: 2px dashed;
  border-color: wheat;
  height: auto;
  width: 250px;
  margin-top: -501px;
  margin-right: 400px;
  white-space: pre-line;
  background: linen;
  color: grey;
}

#tempdiv{
  display:none;
  border: 2px solid;
  background: linen;
  width: 501px;
  height: auto;
  margin: auto;
  position: relative;
  white-space: pre-line;
}

#fight{
  display:none;
  border: 2px solid;
  background: linen;
  width: 501px;
  height: auto;
  margin: auto;
  position: relative;
  white-space: pre-line;
}

#fightbuttons{
  display:flex;
}

#fightbuttontea, #fightbuttonblade{
  display:none;
}

#path {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  position: relative;
  width: 501px;
  height:-501px;
  margin: auto;
}
