@font-face {
  font-family: "propo";
  src:
    local("propo"),
    url("propo.ttf") format("truetype"),
}

body {
  font-family: "unifont";
  background: white;
  color: black;
  text-align: center;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#button-container{
  position:relative;
  }

.world {
  position: relative;
  width: 501px;
  height:501px;
  margin: auto;
}

#map {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  position: absolute;
  width: 100%;
  height:100%;
  margin: auto;
  z-index: 1;
}

#path {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;
  }

#rules {
  display: none;
  background: linen;
  width: 100%x;
  height: 100%;
  margin: auto;
  position: absolute;
  border: 3px dashed;
  z-index: 2;
  text-align: center;
  border-color: wheat;
  color: black;
}

#inventory {
  display:block;
  position:relative;
  margin: auto;
  border: 2px dashed;
  border-color: wheat;
  height: auto;
  width: 250px;
  margin: auto;
  white-space: pre-line;
  background: linen;
  color: grey;
  }

button{
  display: inline-block;
  position: relative;
  margin: auto;
}

#closebutton{
position:absolute;
top: 0px;
right:0px;
color: darkred;
}

#tempdiv{
display:none;
border: 2px solid;
background: linen;
width: 501px;
height: auto;
margin: auto;
position: relative;
white-space: pre-line;
}

#fight{
display:none;
border: 2px solid;
background: linen;
width: 501px;
height: auto;
margin: auto;
position: relative;
white-space: pre-line;
}

#fightbuttons{
display:flex;
}

#fightbuttontea, #fightbuttonblade{
display:none;
}
